/* montserrat-regular - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/montserrat-v18-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v18-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* montserrat-900 - latin */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    src: local(''),
         url('../fonts/montserrat-v18-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v18-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
 body {
     font-family: 'Montserrat';
     font-style: normal;
     font-weight: normal;
     font-size: 10px;
     line-height: 1.2;
     margin: auto;
     margin-left: auto;
     margin-right: auto;
     align-items: center;
     background-color: black;
    
 }

 .wrapper{
    max-width: 100%;
    margin: 0 auto;
   
}

.wrapper_full{
    max-width: 1206px;
    margin: 0 auto;
}

 /* header styles start*/
.header_wrapper{
   display: grid;
   align-items: center;
   grid-auto-rows: 150px;
   padding-top: 26px;
   
}

  .header{
    background-color: black;
    
    width: 1202px;
    height: 98px;
    left: 119px;
    top: 26px;
    margin: auto;
    
    
  }

  .header_list{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 27px;
    align-items: center;

    
  }
  .header_item{
      margin-right: 27px;
      

  }
  .header_item_inst{
    position: absolute;
    width: 1000px;
    height: 25px;
    left: 119px;
    top: 53px;
    left: 50%;
    margin-left: -500px;
  }

  .header_item_twitt{
    position: absolute;
    width: 900px;
    height: 25px;
    left: 171px;
    top: 53px;
    left: 50%;
    margin-left: -450px;
   
  }

  .header_item_hamburger{
        left: 50%;
        margin-left: -900px;
        position: absolute;
        width: 1800px;
        height: 25.29px;
        left: 1281px;
        top: 10px;
        color: white;
  }

  .header_item_youtube{
    position: absolute;
    width: 800px;
    height: 25px;
    left: 223px;
    top: 53px;
    left: 50%;
    margin-left: -400px;
    
  }
  .header_item_hml{
    position: absolute;
    width: 700px;
    height: 25px;
    left: 275px;
    top: 53px;
    left: 50%;
    margin-left: -350px;
    

    
  }
  .header_logo{
    position: absolute;
    width: 261px;
    height: 98px;
    left: 589px;
    top: 26px;
    left: 50%;
    margin-left: -130,5px;
  }
  .header_link1{
    position: absolute;
    width: 40px;
    height: 25.29px;
    left: 1281px;
    top: 53px;
    right: 119px;
    margin-bottom: 114.71px;
  }


  .header_link:hover, .header_link:focus, .header_link:active{
      opacity: 75%;
  }

  /* header styles end*/

/* Intro styles start*/

.wrapper{
    position: absolute;
    width: 1202px;
    height: 831px;
    left: 119px;
    top: 193px;
    left: 50%;
    margin-left: -601px;   
}
.intro{
    height: 100vh;
    background: black  center;
    background: cover;
    padding-top: 265px;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
   
}

.intro_title{
    max-width: 590px;
    position: absolute;
    width: 590px;
    height: 138px;
    left: 119px;
    top: 265px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 57px;
    line-height: 69px;
    color: white;
    
    margin-bottom: 40px;
}

.intro_subtitle{
    max-width: 585px;
    color: white;
    position: absolute;
    width: 585px;
    height: 108px;
    left: 119px;
    top: 443px;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;

    margin-bottom: 67px;

}


.search-form_sumbit{
    padding: 16px 92px 17px 91px;
    color:white;
    position: absolute;
    width: 284px;
    height: 60px;
    left: 119px;
    top: 602px;
    background:#C10000;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    max-width: 284px;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: left;
    white-space: pre;
    margin-bottom: 462px;
    text-transform: uppercase;
}

.search-form_sumbit:hover, .search-form_sumbit:focus, .search-form_sumbit:active{
    background:#6e1818;
}


/* header styles end*/

/* painting section staart*/
.section_title{
    position: absolute;
    width: 795px;
    height: 59px;
    left: 323px;
    top: 1124px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 59px;
    text-align: center;
   
   

}

.paint_title{
    
    position: absolute;
    width: 795px;
    height: 59px;
    left: 323px;
    top: 1124px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 59px;
    color: white;
    
    font-weight: 700;
    letter-spacing: 0em;
    text-align: center;
    
}

.img{
    position: absolute;
    width: 554px;
    height: 831px;
    left: 767px;
    right: 119px;
    top: 193px;
    margin-bottom: 100px;
    
   
    background: url(../img/kelly-kiernan-AJQtQULWKQI-unsplash\ 1.jpg);
}

.art_paints{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-gap: 4px;
    position: absolute;

}

.art_paint_size_lg{
    grid-column: span 5;
}

.art_paint_pic1{
    position: absolute;
    width: 590px;
    height: 523px;
    left: 119px;
    top: 1288px;
    object-fit: cover;
    
    background: #C4C4C4;
}

.art_paint_pic2{
    position: absolute;
    width: 284px;
    height: 194px;
    left: 731px;
    top: 1288px;
    object-fit: cover;
    
    background: #C4C4C4;
}

.art_paint_pic3{
    position: absolute;
    width: 284px;
    height: 194px;
    left: 1037px;
    top: 1288px;
    object-fit: cover;
    
    background: #C4C4C4;
}

.art_paint_pic4{
    position: absolute;
    width: 284px;
    height: 194px;
    left: 731px;
    top: 1617px;
    object-fit: cover;
   
    background: #C4C4C4;
}

.art_paint_pic5{
    position: absolute;
    width: 284px;
    height: 194px;
    left: 1037px;
    top: 1617px;
    object-fit: cover;
    
    
    background: #C4C4C4;
}

.art_paint_pic6{
    position: absolute;
    width: 590px;
    height: 852px;
    left: 731px;
    top: 1946px;
    object-fit: cover;
    
    background: #C4C4C4;
}

.art_paint_pic7{
    position: absolute;
    width: 284px;
    height: 194px;
    left: 119px;
    top: 1946px;
    object-fit: cover;
    
    background: #C4C4C4;
}

.art_paint_pic8{
    position: absolute;
    width: 284px;
    height: 194px;
    left: 425px;
    top: 1946px;

    background: #C4C4C4;
    

}

.art_paint_pic9{
    position: absolute;
    width: 284px;
    height: 194px;
    left: 119px;
    top: 2275px;
    object-fit: cover;
   
    background: #C4C4C4;
}

.art_paint_pic10{
    position: absolute;
    width: 284px;
    height: 194px;
    left: 425px;
    top: 2275px;
    object-fit: cover;
    
    background: #C4C4C4;
}

.art_paint_pic11{
    position: absolute;
    width: 284px;
    height: 194px;
    left: 119px;
    top: 2604px;
    object-fit: cover;
    
    background: #C4C4C4;
}

.art_paint_pic12{
    position: absolute;
    width: 294px;
    height: 202px;
    left: 415px;
    top: 2596px;
    object-fit: cover;
    
}

.art_paint_title1{
    position: absolute;
    width: 593px;
    height: 27px;
    left: 118px;
    top: 1835px;
   
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    color: white;
    background: url(../img/girl-with-a-pearl-earring-the-famous-painting-2.jpg);
}

.art_paint_title2{
    position: absolute;
    width: 284px;
    height: 81px;
    left: 731px;
    top: 1506px;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    color: white;
}

.art_paint_title3{
    position: absolute;
    width: 284px;
    height: 81px;
    left: 1037px;
    top: 1506px;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    color: white;

}

.art_paint_title4{
    position: absolute;
    width: 284px;
    height: 81px;
    left: 731px;
    top: 1835px;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    color: white;
}

.art_paint_title5{
    position: absolute;
    width: 277px;
    height: 81px;
    left: 1044px;
    top: 1835px;
   
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    color: white;
}

.art_paint_title6{
    position: absolute;
    width: 593px;
    height: 54px;
    left: 731px;
    top: 2822px;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    color: white;
}

.art_paint_title7{
    position: absolute;
    width: 284px;
    height: 81px;
    left: 119px;
    top: 2164px;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    color: white;
}

.art_paint_title8{
    position: absolute;
    width: 284px;
    height: 81px;
    left: 425px;
    top: 2164px;
   
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    color: white;
}

.art_paint_title9{
    position: absolute;
    width: 284px;
    height: 81px;
    left: 118px;
    top: 2493px;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    color: white;
}

.art_paint_title10{
    position: absolute;
    width: 284px;
    height: 81px;
    left: 425px;
    top: 2493px;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    color: white;
}

.art_paint_title11{
    position: absolute;
    width: 284px;
    height: 81px;
    left: 118px;
    top: 2822px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    color: white;
}

.art_paint_title12{
    position: absolute;
    width: 284px;
    height: 81px;
    left: 424px;
    top: 2822px;
   
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    color: white;
    
}

.paintings{
    position: absolute;
    width: 1206px;
    height: 1779px;
    left: 118px;
    top: 200px;
    right: 116px;
    left: 50%;
    margin-left: -603px;
    
}

.paint_sort_by{
    position: absolute;
    width: 64px;
    height: 27px;
    left: 119px;
    top: 1207px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    


    color: #FFFFFF;
}

.paint_name{
    position: absolute;
    width: 102px;
    height: 35px;
    left: 198px;
    top: 1203px;
   
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
}

.paint_name1{
    position: absolute;
    width: 56px;
    height: 27px;
    left: 208px;
    top: 1207px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
}

.paint_name2{
    position: absolute;
    width: 18.85px;
    height: 10.83px;
    left: 271px;
    top: 1216px;
   
}


/* painting section end*/

/* footer section start*/
.footer{
    position: absolute;
    width: 1200px;
    height: 144px;
    left: 118px;
    top: 3003px;
    left: 50%;
    margin-left: -600px;
}

.footer_item{
    margin: 0px 1000px 0px 0px;
}

.footer_logo{
    position: absolute;
    width: 261px;
    height: 98px;
    left: 0px;
    top: 0px;
}

.footer_l{
    margin: 10%;
}

.footer{
    padding: 171px px 1050px 129px;  
}

.main_item{
    margin-bottom: 100px;
}

.footer_main_link1{
    position: absolute;
    width: 56px;
    height: 22px;
    left: 776px;
    top: 40px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

.footer_main_link2{
    position: absolute;
    width: 86px;
    height: 22px;
    left: 869px;
    top: 40px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

.footer_main_link3{
    position: absolute;
    width: 91px;
    height: 22px;
    left: 990px;
    top: 40px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px; 
    color: #FFFFFF;
}

.footer_main_link4{
    position: absolute;
    width: 81px;
    height: 22px;
    left: 1120px;
    top: 40px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    
}

.footer_main_link5{
    position: absolute;
    width: 252px;
    height: 20px;
    left: 950px;
    top: 129px;
    

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    color: #FFFFFF;
}

.footer_youtube{
    position: absolute;
    width: 78px;
    height: 22px;
    left: 0px;
    top: 129px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

.footer_inst{
    position: absolute;
    width: 94px;
    height: 22px;
    left: 142px;
    top: 132px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

.wrapper_footer{
    position: absolute;
    width: 1203px;
    height: 144px;
    left: 118px;
    top: 200px;  
    display: grid;
    
    
    
    
}

.footer_twit{
    position: absolute;
    width: 63px;
    height: 22px;
    left: 290px;
    top: 129px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

.footer_linkedIn{
    position: absolute;
    width: 79px;
    height: 22px;
    left: 420px;
    top: 129px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;
    
}




/* footer section end*/